.moredata {
    display: none;
}

table {
    width: 100%;
}

ul {
    list-style-type: none;
}

.tips li {
    padding: 10px;
}

li {
    padding: 2px;
}

button {
    width: 100%;
}

.Playainfo {
    margin-top: auto;
    width: 50%;
    position: relative;
    margin-bottom: auto;
    margin-left: 20px;
}

.summonerSpell img {
    width: 20px;
    height: auto;
}

.champicon {
    margin: auto;
    width: 100px;
    height: auto;

}

.division {
    width: 30px;
    height: auto;
}
