<!doctype html>
<html>
    <head>
        {% if title %}
        <title> Wood Division - {{ title }}</title>
        {% else %}
        <title> Wood Division </title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        {% block content %}
        {% endblock %}
    </body>
    <footer>
    </footer>
</html>
